body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px auto;
    height: auto;
    width: 800px;
    border: 1px solid #006633;
}

#header {
    height: 28px;
    width: 800px;
    background-image: url(../img/191220224-bg.jpg);
    background-repeat: repeat; /*不需要重复时用no-repeat*/
    margin: 0px 0px 3px 0px;
}

#navigator { /*定义一个导航栏的长盒子*/
    height: 25px;
    width: 800px;
    font-size: 14px;
    list-style-type: none; /*让nav这个大盒子下面的小盒子LI列表样式不显示,这对于标准浏览器很重要*/
}

#navigator li {
    float: left; /*让LI这些小盒子左对齐*/
}

#navigator li a {
    color: #ffffff;
    text-decoration: none; /*让LI盒子里面的链接样式没有下滑线*/
    padding-top: 4px;
    display: block; /*让LI里面的链接块状呈现，就像一个按钮，而不必一定要点中链接文字才起作用*/
    width: 131px;
    height: 22px;
    text-align: center;
    background-color: #009966;
    margin-left: 2px;
}

#navigator li a:hover {
    background-color: #006633; /*鼠标移到链接盒子上面改变盒子背景色*/
    color: #FFFF00;
}

#content {
    height: auto;
    width: 780px;
    line-height: 1.5em;
    padding: 10px;
}

#content p {
    text-indent: 2em;
}

#content h3 {
    font-size: 16px;
    margin: 10px;
}

#footer {
    height: 23px;
    width: 780px;
    line-height: 2em;
    text-align: center;
    color: #ffffff;
    background-color: #009966;
    padding: 3px;
}

#invform {
    padding-left: 100px;
    background-color: #ccffcc;
}

#formlayout tr {
    height: 20px;
}

* {
    margin: 0px;
    padding: 0px;
}
