#login-body, html {
    height: 100%;
    width: 100%;
}

#login-box {
    margin-bottom: 105px;
    /*padding: 1em;*/
    top: 15%;
    /* 边框圆角 */
    border-radius: 10px;
    /* 背景透明 */
    background-color: rgba(255, 255, 255, 0.15);
}

#login-box input {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.25);
}

.form-control-feedback {
    position: absolute;
    padding-top: 1rem;
    left: 1rem;
}

.input-group {
    position: relative;
}

.input-group input {
    padding-left: 5rem;
}